Checks: '-*,
cert-err34-c,
cert-flp30-c,
google-readability-braces-around-statement,
google-readability-casting,
hicpp-braces-around-statements,
hicpp-signed-bitwise,
misc-redundant-expression,
misc-unused-parameters,
performance-type-promotion-in-math-fn,
readability-braces-around-statement,
readability-else-after-return,
readability-inconsistent-declaration-parameter-name,
readability-named-parameter,
readability-redundant-control-flow,
readability-redundant-declaration,
readability-misleading-indentation'
