# vscode files
.vscode/

# intellij files
**/.idea/
**/*.iml

# java output files
**/*.class
**/out/

# unpublished resources
CS2040S/Contests/
CS2106/Lab Assignments/
CG2028/CG2028AssignS1AY2122/
CG2028/Lib_CMSISv1p30_LPC17xx/
CG2028/Lib_EaBaseBoard/
CG2028/Lib_MCU/
