# vscode files
.vscode/

# intellij files
**/.idea/
**/*.iml

# java output files
**/*.class
**/out/

# unpublished resources
CS2040C/Assignments/Assignment 5 SSSP/heap.h
CS2040C/Assignments/Assignment 5 SSSP/heap.hpp
CS2040C/Assignments/Assignment 5 SSSP/simpleLinkedListTemplate.h
CS2040C/Assignments/Assignment 5 SSSP/simpleLinkedListTemplate.cpp
CS2040S/Contests/
CS2106/Lab Assignments/
CG2028/
