# vscode files
.vscode/

# intellij files
**/.idea/
**/*.iml

# java output files
**/*.class
**/out/

# unpublished resources
CS2040C/Assignments/Assignment 4 Heap/
CS2040C/Assignments/Assignment 5 SSSP/
CS2040S/Contests/
CS2106/Lab Assignments/
